.content {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}


.content .splitLeft {
    flex: 1;
    background: #CBBFFF

}

.content .splitRight {
    flex: 1;
}

.input_margin {
    margin-bottom: 10px;
}

.btn_margin {
    margin-top: 30px;
}

.link_area {
    margin-top:15px;
    overflow: hidden;
}

.container a {
    color: #7B6FF7;
}